.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background: url(https://www.toptal.com/designers/subtlepatterns/patterns/double-bubble-dark.png);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main-body {
  .avlbl-filters {
    height: auto;
      }

  .slctd-filters {
    height: auto;
  }

  .char-list {
    height: auto;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.custom-control-label::before, .custom-control-label::after {
  top: 6px;
}

.custom-radio, .custom-control-input, .custom-control-label {
  cursor: pointer;
}

.character {
  background: rgb(63, 58, 58);
  border: 5px solid black;
padding: 10px;

  .card-image > img {
    max-width: 100%;
  }

  .nameplate {
    white-space: nowrap; 
    width: 100%; 
    overflow: hidden;
    text-overflow: ellipsis; 

    position: relative;
    top: -58px;
    background: gray;
    opacity: 0.8;
    margin: 0px 0 -50px 14px;
    height: 58px;
  }

  .char-id {
    font-size: 80%;
  }

  .char-info {
    font-size: 75%;
    .row {
      border-bottom: 1px solid gray;
    }
    .row:last-child {
      border-bottom: none;
    }

    .col-sm-4 {
      text-transform: uppercase;
      text-align: left;
    }
    .col-sm-8 {
      color: orange;
      text-align: right;
    }
    p {
      text-transform: capitalize;
    }
  }
}
